*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, #034277,#091e3a);
    
}

.clock{
    width: 500px;
    height: 500px;
    position: relative;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center ;
    align-items: center;
    background: radial-gradient(circle, #00253f,#020e1d);
}

.clock::before{
    content: '';
    width: 525px;
    height: 525px;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to right, #00fceb,#db22df);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.number{
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 40px;
    color: #00fceb;
    text-shadow: 0 0 12 #e235e5;
}
.number b {
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
}

.center-dot{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #db22df;
    border: 6px solid #00fceb;
    border-radius: 50%;
}

.hour-hand, .munite-hand, .seconde-hand{
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(calc(var(--rotate) * 1deg)); 
    transform-origin: bottom;
    border-radius: 30px 30px 0 0; 
}

.hour-hand{
    width: 12px;
    height: 130px;
    background: linear-gradient(#00fceb,#db22df);
}


.munite-hand{
    width: 12px;
    height: 190px;
    background: linear-gradient(to top, #00fceb,#db22df);
}

.seconde-hand{
    width: 6px;
    height: 210px;
    background: linear-gradient(to top, #00fceb,#db22df);
}


#nameDate{
    margin-top: 260px;
    z-index: 3;
    text-align: center;
    color: #3fc6bd;
    font-size: 20px;
}